body{
  background: #eee;
}

.container{
  margin-top: 30px;
}

.main-title{
  margin: 0;
  padding: 0;
  color: #858585;
}

#moxie_container {
  margin-top: 30px;
}

.movie{
  margin-bottom: 20px;

  .year{
    margin-right: 20px;
  }
}
